<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.netease.ssm.Dao">

	<insert id="batchInsert" useGeneratedKeys="true" keyColumn="id" keyProperty="id" parameterType="java.util.List" >
		insert into person(name,sex) VALUES
		<foreach collection="list" separator="," item="item" >
			(#{item.name},#{item.sex})
		</foreach>
	</insert>
	
	<select id="query" resultType="com.netease.ssm.Person">
		select * from person
		where id = 1
	</select>

</mapper>